nav.main-nav
        ul.main-nav__list
            li.main-nav__item.main-nav__item--active
                a.main-nav__link(href="#") 
                    +icon('icon-home', 'main-nav__icon main-nav__icon--home', '20', '20')
                    span Главная
            li.main-nav__item
                a.main-nav__link(href="#")
                    +icon('icon-user', 'main-nav__icon main-nav__icon--user', '20', '20')
                    span Обо мне
            li.main-nav__item
                a.main-nav__link(href="#") 
                    +icon('icon-suitcase', 'main-nav__icon main-nav__icon--suitcase', '20', '20')
                    span Партфолио
            li.main-nav__item
                a.main-nav__link(href="#") 
                    +icon('icon-contact', 'main-nav__icon main-nav__icon--contact', '20', '20')
                    span Контакты