section.home
    .container
        .home__wrapper
            h1.visually-hidden Главная страница сайта Цыганова Олега
            h3.home__welcome Всем привет!
            h2.home__name <span>Я,</span> Олег Цыганов
            p.home__description Я frond-end разработчик из России, специализирующийся на создании качественных сайтов с чистым исходным кодом и доступтыми интерфейсами. Я увлечен своей работой, что позволяет реализовывать проекты любой сложности с исполнением всех требований заказчика быстро, на высоком уровне и в срок.
            button.button.home__button 
                span Обо мне
                    +icon('icon-user', 'icon__user--button button__icon--user', '20', '20')