.works
	.container
		ul.works__list
			include items/item-1
			include items/item-2
			include items/item-3
			include items/item-4
			include items/item-5
			include items/item-6
			include items/item-7