.works
	.container
		ul.works__list
template
	li.works__item(tabindex="1")
		.works__inner
			picture.works__picture
				img.works__photo(src="../../../static/images/content/cat-energy1x.png" srcset="../../../static/images/content/cat-energy2x.png 2x" alt="Сайт для животных Cat Energy")
			//- include items/item-1
			//- include items/item-2
			//- include items/item-3
			//- include items/item-4
			//- include items/item-5
			//- include items/item-6
			//- include items/item-7