section.write-me
    .write-me__wrapper
        h2.write-me__title Не стесняйтесь!
        p.write-me__description Я всегда открыт для обсуждения новых проектов, творческих идей или возможностью стать частью вашей команды
        ul.write-me__connection.connection
            li.connection__item
                +icon('icon-mail', 'connection__icon connection__icon--mail', '35', '35')
                .connection__inner
                    span.connection__title Напишите мне
                    a.connection__link(href="mailto:tsyganovdev@gmail.com") tsyganovdev@gmail.com
            li.connection__item
                +icon('icon-phone', 'connection__icon connection__icon--phone', '35', '35')
                .connection__inner
                    span.connection__title Позвоните мне
                    a.connection__link(tabindex="0" href="tel:+79272030036") +7-927-203-00-36
        ul.write-me__social.social
            li.social__item
                a.social__link(href="https://vk.com/redsmoke")
                    +icon('icon-vk', 'social__icon social__icon--vk', '20', '20')
            li.social__item
                a.social__link(href="https://facebook.com/redsm0ke")
                    +icon('icon-facebook', 'social__icon social__icon--facebook', '20', '20')
            li.social__item
                a.social__link(href="https://tlgg.ru/redsmoke_smr")
                    +icon('icon-telegram', 'social__icon social__icon--telegram', '20', '20')
