section.you-message
    .container
        form.you-message__form
            input.you-message__input(type="text" name="youName" placeholder="Ваше имя")
            input.you-message__input(type="text" name="youMail" placeholder="Ваш email")
            input.you-message__input(type="text" name="youTitle" placeholder="Тема сообщения")
            textarea.you-message__input.you-message__input--text(name="youtext", cols="30", rows="10" placeholder="Ваш текст")
            button(type="submit").you-message__button.button Отправить сообщение
        p.you-message__success Ваше сообщение успешно отправлено