.index {
  align-items: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: $desktop-size) {
    &::after {
      content: '';
      background-color: $yellow-color;
      clip-path: polygon(0 100%, 0 0, 11% 0, 30% 100%);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
}

.home {
  &__wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    @media screen and (min-width: $tablet-size) {
      align-items: center;
      padding: 25px 0;
    }
    @media screen and (min-width: $desktop-size) {
      flex-direction: row;
    }
  }

  &__inner {
    @media screen and (min-width: $tablet-size) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @media screen and (min-width: $desktop-size) {
      align-items: flex-start;
      padding-right: 230px;
    }
  }

  &__picture {
    display: none;
    @media screen and (min-width: $tablet-size) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 270px;
      height: 270px;
      border: 3px solid $grey-color;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 25px;
    }
    @media screen and (min-width: $desktop-size) {
      border: none;
      border-radius: 0;
      flex-shrink: 0;
      height: 470px;
      margin-bottom: 0;
      margin-right: 120px;
      overflow: inherit;
      width: 470px;
    }
  }

  &__photo {
    @media screen and (min-width: $desktop-size) {
      border-radius: 20px;
      box-shadow: 0 0 7px rgba(0, 0, 0, .9);
      height: auto;
      width: 100%;
    }
  }

  &__welcome {
    color: $grey-font;
    font-family: $base-font;
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 55px;
    text-transform: uppercase;
    @media screen and (min-width: $tablet-size) {
      display: none;
    }
    @media screen and (min-width: $desktop-size) {
      display: block;
      font-size: 22px;
      margin-bottom: 30px;
    }
  }

  &__name {
    color: $yellow-color;
    font-family: $bold-font;
    font-size: 29px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 50px;
    text-transform: uppercase;

    span {
      color: $white;
    }

    @media screen and (min-width: $tablet-size) {
      font-size: 38px;
      line-height: 38px;
    }
    @media screen and (min-width: $desktop-size) {
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 50px;
    }
  }

  &__description {
    color: $white;
    font-family: $base-bold-font;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 30px;
    @media screen and (min-width: $tablet-size) {
      font-size: 15px;
      margin-bottom: 50px;
      padding: 0 80px;
    }
    @media screen and (min-width: $desktop-size) {
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 60px;
      padding: 0;
    }
  }

  &__button {
    text-decoration: none;
    @media screen and (min-width: $tablet-size) {
      width: 30%;
    }
    @media screen and (min-width: $desktop-size) {
      height: 60px;
      width: 41%;
      span {
        font-size: 25px;
        line-height: 32px;
      }
    }
  }
}