ul.achievements__list
	li.achievements__item
		.achievements__inner
			span.achievements__count 3<sup>+</sup>
			span.achievements__description Года опыта в разработке
	li.achievements__item
		.achievements__inner
			span.achievements__count 11<sup>+</sup>
			span.achievements__description Готовый проектов
	li.achievements__item
		.achievements__inner
			span.achievements__count 4<sup>+</sup>
			span.achievements__description Довольных заказчиков
	li.achievements__item
		.achievements__inner
			span.achievements__count 120<sup>+</sup>
			span.achievements__description Бессонных ночей