section.experience
    .container
        h2.experience__title.section__title Опыт работы и образование
        .experience__inner
            ul.experience__list
                li.experience__item
                    .experience__icon-container
                        +icon('icon-suitcase', 'experience__icon', '20', '20')
                    span.experience__time 2018 - настоящее время
                    h3.experience__name Веб-разработчик - <span>Freelance</span>
                    p.experience__description Ищу заказы на фрилансе и занимаюсь, в основном, версткой макетов по ТЗ заказчиков
                li.experience__item
                    .experience__icon-container
                        +icon('icon-suitcase', 'experience__icon', '20', '20')
                    span.experience__time 2011 - настоящее время
                    h3.experience__name Главный специалист по метрологии - <span>ООО ИК “СИБИНТЕК” </span>
                    p.experience__description Занимаюсь поверкой и калибровкой высокоточного оборудования и средств измерения в сфере нефте-газо добывающих предприятий
                li.experience__item
                    .experience__icon-container
                        +icon('icon-suitcase', 'experience__icon', '20', '20')
                    span.experience__time 2008 - 2011
                    h3.experience__name технический специалист - <span>MVIDEO</span>
                    p.experience__description Занимался консультациями и продажами компьютеров, настройкой ПО, сборкой компьютеров и ремонтом разной сложности
            ul.experience__list
                li.experience__item
                    .experience__icon-container
                        +icon('icon-school', 'experience__icon', '20', '20')
                    span.experience__time 2017 - настоящее время
                    h3.experience__name курсы и книги по Веб-программированию - <span>HTML-Academy, freecodecamp, выразительный javascript, codewars, ты не знаешь js</span>
                    p.experience__description с 2017 года начал активно изучать веб программирование, прошел три интенсива от HTMLAcademy, благодаря которым познал азы верстки и фундаментальные навыки JavaScript. После курсов стал усиленно практиковаться в написании кода, верстал много макетов как тренировочных, так и на заказ. Со временем начал углубляться в изучение JS для добавления в свои работы интерактивных элементов. В этом направлении никогда не перестаю учиться и каждый день стараюсь изучать что-то новое и закреплять на практике уже изученные материалы
                li.experience__item
                    .experience__icon-container
                        +icon('icon-school', 'experience__icon', '20', '20')
                    span.experience__time 2008 - 2014
                    h3.experience__name программирование в экономике - <span>”Международный институт рынка”</span>
                    p.experience__description Получил высшее образование в сфере программирования. В институте изучал язык программирования pascal, который так и не пригодился мне в жизни, но дал фундаментальные навыки и понимание программирования в целом. Так же одной из дисциплин было веб программирование, по которому я и защищал свой выпускной диплом. В рамках диплома был создан сайт на wordPress и сделана уникальная верстка c эксклюзивными элементами, что давало возможность преподавателям составлять свои расписания занятий через сайт.
                li.experience__item
                    .experience__icon-container
                        +icon('icon-school', 'experience__icon', '20', '20')
                    span.experience__time 1998 - 2007
                    h3.experience__name Среднее образование - <span>МОУ СОШ №6</span>
                    p.experience__description Обязательное среднее образование, отучился 11 классов, физико-математическое направление
                
