section.person-info
	.container
		.person-info__wrapper
			.person-info__head
				h2.person-info__title.section__title Личная информация
				.person-info__picture
					picture
						//- source(type="image/webp" srcset="img/content/logo1x.webp, img/content/logo2x.webp 2x")
						img.person-info__photo(src="../../static/images/content/photo-tablet1x1.png" srcset="../../static/images/content/photo-tablet2x1.png 2x" width="220" height="220" alt="Фотография Цыганова Олега")
				.person-info__info
					ul.person-info__list.person-list
						li.person-list__item
							span.person-list__title Имя:
							span.person-list__name Олег
						li.person-list__item
							span.person-list__title Фамилия:
							span.person-list__name Цыганов
						li.person-list__item
							span.person-list__title Возраст:
							span.person-list__name 30
						li.person-list__item
							span.person-list__title Национальность:
							span.person-list__name Русский
						li.person-list__item
							span.person-list__title Freelance:
							span.person-list__name Свободен
					ul.person-info__list.person-list
						li.person-list__item
							span.person-list__title Город:
							span.person-list__name Самара
						li.person-list__item
							span.person-list__title Телефон:
							span.person-list__name +7(927)-203-00-36
						li.person-list__item
							span.person-list__title Email:
							span.person-list__name--small TsyganovDev@gmail.com
						li.person-list__item
							span.person-list__title Skype:
							span.person-list__name TsyganovDev
						li.person-list__item
							span.person-list__title Языки:
							span.person-list__name-small Русский, Английский
				button.person-info__button.button
					span Скачать резюме
						+icon('icon-download', 'person-info__icon', '18', '18')
			.person-info__stat.achievements
				include achievements

