section.skills
    .container
        h2.skills__title.section__title Мои навыки
        ul.skills__list.skill
            li.skill__item
                .skill__inner
                    svg
                        circle.skill__circle.skill__circle--main(cx="48" cy="48" r="43")
                        circle.skill__circle.skill__circle--html.js-circle-fill(cx="48" cy="48" r="43")
                    .skill__number
                        h3.skill__percent 95%
                h3.skill__text HTML
            li.skill__item
                .skill__inner
                    svg
                        circle.skill__circle.skill__circle--main(cx="48" cy="48" r="43")
                        circle.skill__circle.skill__circle--css.js-circle-fill(cx="48" cy="48" r="43")
                    .skill__number
                        h3.skill__percent 85%
                h3.skill__text CSS
            li.skill__item
                .skill__inner
                    svg
                        circle.skill__circle.skill__circle--main(cx="48" cy="48" r="43")
                        circle.skill__circle.skill__circle--js.js-circle-fill(cx="48" cy="48" r="43")
                    .skill__number
                        h3.skill__percent 55%
                h3.skill__text JavaScript
            li.skill__item
                .skill__inner
                    svg
                        circle.skill__circle.skill__circle--main(cx="48" cy="48" r="43")
                        circle.skill__circle.skill__circle--react.js-circle-fill(cx="48" cy="48" r="43")
                    .skill__number
                        h3.skill__percent 5%
                h3.skill__text React