.write-me {
  padding-top: 90px;
  @media screen and (min-width: $large-size) {
    margin-right: 30px;
    padding-top: 0;
    width: 35%;
  }
  &__title {
    font-family: $bold-font;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    @media screen and (min-width: $tablet-size) {
      font-size: 26px;
      line-height: 31px;
      margin-bottom: 15px;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 20px 0;
    @media screen and (min-width: $tablet-size) {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }
}

.connection {
  margin-bottom: 20px;
  &__item {
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 21px;
    @media screen and (min-width: $tablet-size) {
      font-size: 15px;
    }
    &:first-child {
      margin-bottom: 20px;
    }
  }
  &__title {
    color: rgba($white, .8);
    display: block;
  }
  &__link {
    color: $white;
    font-weight: 800;
    text-decoration: none;
    @media screen and (min-width: $desktop-size) {
      transition: color linear .15s;
      &:hover {
        color: rgba($yellow-color, .9);
      }
    }
  }
  &__icon {
    fill: $yellow-color;
    margin-right: 15px;
  }
}

.social {
  display: flex;
  margin-bottom: 50px;
  &__item:not(:last-child) {
    margin-right: 15px;
  }
  &__link {
    display: block;
    background-color: $bg-grey-color;
    border-radius: 50%;
    height: 40px;
    position: relative;
    transition: background-color linear 0.15s;
    width: 40px;
    @media screen and (min-width: $desktop-size) {
      &:hover {
        background-color: rgba($bg-grey-color, .8);
        svg {
          opacity: .5;
        }
      }
    }
  }
  &__icon {
    fill: $white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity linear .15s;
  }
}
