.you-message {
  &__form {
    margin-bottom: 30px;
    @media screen and (min-width: $tablet-size) {
      display: flex;
      flex-direction: column;
    }
  }
  &__top {
    @media screen and (min-width: $tablet-size) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__text {
    position: relative;
  }
  &__error {
    color: $error-color;
    font-size: 12px;
    left: 10px;
    position: absolute;
    top: -20px;
    @media screen and (min-width: $tablet-size) {
      top: -25px;
    }
  }
  &__item {
    position: relative;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      width: 30.5%;
    }
  }
  &__input {
    background-color: $grey-color;
    border: none;
    border-radius: 30px;
    color: $white;
    font-family: $bold-font;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    outline: none;
    margin-bottom: 30px;
    padding: 11px 25px;
    text-transform: uppercase;
    transition: background-color linear .15s;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      font-size: 15px;
      // width: 30.5%;
      &:hover {
        background-color: rgba($grey-color, .9);
      }
    }
    &--text {
      min-height: 160px;
      resize: vertical;
      width: 100%;
    }
    &::placeholder {
      color: rgba($white, .5);
      font-family: $base-font;
      font-weight: 400;
      text-transform: uppercase;
    }
    &:focus {
      box-shadow: 0 0 10px rgba($white, .6);
      background-color: rgba($grey-color, .9);
    }
    &--error {
      box-shadow: 0 0 10px rgba($error-color, .8);
    }
  }
  &__button {
    color: $white;
    font-family: $bold-font;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      font-size: 15px;
      width: 36%;
    }
    &:focus {
      box-shadow: 0 0 10px rgba($white, .6);
    }
  }
  &__success {
    align-items: center;
    background-color: $green-color;
    border-radius: 30px;
    color: $white;
    display: flex;
    font-family: $bold-font;
    font-weight: 700;
    height: 46px;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transition: all linear 0.5s;
    @media screen and (min-width: $tablet-size) {
      font-size: 15px;
    }
  }
  &__icon {
    fill: $white;
    margin-right: 10px;
  }
}
.g-recaptcha {
  margin-bottom: 30px;
}
