extends layout/main

block variables
	-var title = 'Контакты - Олег Цыганов'
	-var page = 'contacts-page'
	-var pageClass = 'contacts'

block content
	main(class=pageClass)
		h1.title.contacts__title Напиши<span>мне</span>
		.container
			.contacts__wrapper
				include modules/contacts/write-me
				include modules/contacts/you-message