extends layout/main

block variables
	-var title = 'Олег Цыганов - веб разработчик, frontend разработчик'
	-var page = 'index-page'
	-var pageClass = 'index'

block content
	main(class=pageClass)
		include modules/home