@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Open Sans', '../fonts/opensans/opensans/opensans');
@include font-face('Open Sans SemiBold', '../fonts/opensans/opensanssemibold/opensanssemibold');
@include font-face('Poppins Bold', '../fonts/poppins/poppinsbold/Poppins-Bold');
@include font-face('Muller Bold', '../fonts/muller/MullerExtraBold');
