// Colors
$white: #fff;
$black: #000;
$background: #111;
$grey-color: #252525;
$bg-grey-color: #2b2a2a;
$light-grey: #ddd;
$border-color: #333;
$grey-font: #eee;
$yellow-color: #ffb400;

// Sizes
$base-font-size: 16px;

$tablet-size: 768px;
$large: 1024;
$desktop-size: 992px;
$large-size: 1200px;

$content-mobile: 310px;

// Fonts
$base-font: 'Open Sans', sans-serif;
$base-bold-font: 'Open Sans Semibold', sans-serif;
$bold-font: 'Poppins Bold', sans-serif;