.modal {
  &-works {
    background-color: $grey-color;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    pointer-events: none;
    top: 0;
    transition: all 0.2s ease-out;
    transform: scale(0.4);
    width: 100%;
    z-index: 5;
    &.modal-works--open {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
    }
    &__top {
      align-items: center;
      border-bottom: 1px solid $border-color;
      display: flex;
      height: 60px;
      justify-content: center;
      margin-bottom: 30px;
    }
    &__title {
      color: $yellow-color;
      font-size: 25px;
      font-family: $bold-font;
      font-weight: 800;
      line-height: 30px;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
    }
    &__list {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
    &__item {
      align-items: baseline;
      display: flex;
      font-size: 14px;
      line-height: 22px;
      svg {
        margin-right: 10px;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    &__lable {
      margin-right: 10px;
    }
    &__value {
      font-family: $base-bold-font;
      &--site {
        color: $yellow-color;
      }
    }
    &__icon {
      fill: $white;
    }
    &__photo {
      border-radius: 10px;
      height: auto;
      object-fit: cover;
      object-position: top;
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
    }
  }
}
