.section {
    &__title {
        font-family: $bold-font;
        font-size: 21px;
        font-weight: 600;
        line-height: 25px;
        text-transform: uppercase;
        @media screen and (min-width: $tablet-size) {
            font-size: 26px;
            line-height: 32px;
        }
    }
}