li.works__item
	picture.works__picture
		//source(type="image/webp" srcset="img/content/logo1x.webp, img/content/logo2x.webp 2x")
		//source(media="(min-width: 992px)" srcset="../../static/images/content/photo-desktop1x3.png 1x, ../../static/images/content/photo-desktop2x3.png 2x")
		img.works__photo(src="../../../static/images/content/cyprus1x.png" srcset="../../../static/images/content/cyprus2x.png 2x" alt="Недвижимость на Кипре" data-modal-href="https://www.buyincyprus.ru" data-modal-site="buyinciprus.ru" data-modal-client="Nomia Dev")