.button {
  align-items: center;
  cursor: pointer;
  background-color: $yellow-color;
  border: none;
  border-radius: 25px;
  display: flex;
  height: 46px;
  justify-content: center;
  position: relative;
  transition: all ease-in-out 0.3s;
  // padding: 7px 55px;
  width: 50%;
  span {
    color: $white;
    font-family: $bold-font;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    position: relative;
    transition: all ease-in-out 0.3s;
    font-weight: 600;
    @media screen and (min-width: $tablet-size) {
      font-size: 15px;
    }
    svg {
      fill: $white;
      opacity: 0;
      position: absolute;
      // left: 50%;
      transform: translate(-30px, 25%);
      transition: all ease-in-out 0.3s;
    }
  }
  &:hover {
    @media screen and (min-width: $desktop-size) {
      background-color: rgba($yellow-color, 0.9);
      span {
        transform: translateX(-20px);
        svg {
          opacity: 1;
          transform: translate(10px, 25%);
        }
      }
    }
  }
  &:active {
    background-color: rgba($yellow-color, 0.8);
  }
}
