.about {
  padding-bottom: 60px;
  &__title {
    background-color: $grey-color;
    font-size: 26px;
    font-family: $bold-font;
    font-weight: 600;
    line-height: 30px;
    padding: 15px 40px 15px 20px;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    span {
      color: $yellow-color;
    }
  }
}

@import "person-info";
@import "achievements";
@import "skills";
@import "experience";