.about {
  padding-bottom: 60px;
  @media screen and (min-width: $tablet-size) {
    padding: 85px 0 80px 0;
  }
  &__title {
    &::after {
      @media screen and (min-width: $tablet-size) {
        content: 'Резюме';
      }
    }
  }
}

@import "person-info";
@import "achievements";
@import "skills";
@import "experience";
