.achievements {
  margin-bottom: 80px;
  position: relative;
  &::after {
    content: "";
    height: 1px;
    width: 50%;
    position: absolute;
    bottom: -50px;
    background-color: $grey-color;
    left: 50%;
    transform: translateX(-50%);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex: 0 0 50%;
    &:nth-child(odd) {
      padding-right: 15px;
    }
    &:nth-child(even) {
      padding-left: 15px;
    }
    &:nth-child(-n+2) {
      margin-bottom: 30px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    border: 1px solid $grey-color;
    border-radius: 5px;
    padding: 20px 15px 20px 20px;
    width: 100%;
  }
  &__count {
    color: $yellow-color;
    display: block;
    font-family: $bold-font;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    sup {
      font-family: $base-font;
      padding-left: 5px;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
  }
}
