.achievements {
  position: relative;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex: 0 0 50%;
    &:nth-child(odd) {
      padding-right: 15px;
    }
    &:nth-child(even) {
      padding-left: 15px;
    }
    &:nth-child(-n+2) {
      margin-bottom: 30px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    border: 1px solid $grey-color;
    border-radius: 5px;
    padding: 20px 15px 20px 20px;
    width: 100%;
  }
  &__count {
    color: $yellow-color;
    display: block;
    font-family: $bold-font;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    sup {
      font-family: $base-font;
      padding-left: 5px;
    }
    @media screen and (min-width: $tablet-size) {
      font-size: 50px;
      line-height: 60px;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 24px;
    position: relative;
    text-transform: uppercase;
    br { display: none; }
    @media screen and (min-width: $tablet-size) {
      font-size: 15px;
      padding-left: 40px;
      br { display: block; }
      &::after {
        content: "";
        height: 1px;
        width: 30px;
        background-color: $grey-color;
        top: 12px;
        left: 0;
        position: absolute;
      }
    }
  }
}
