.person-info {
  padding-top: 90px;
  &__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
    border: 3px solid $grey-color;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 25px auto;
  }
  &__info {
    display: flex;
    margin-bottom: 24px;
  }
  &__button {
    width: 54%;
  }
}

.person-list {
  font-family: $base-bold-font;
  font-size: 14px;
  flex-basis: 50%;
  line-height: 22px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  &__title {
    color: rgba($white, 0.8);
    display: block;
  }
  &__name--small {
    font-size: 13px;
  }
}
